[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
sklearn = "*"
pandas-datareader = "*"
tensorflow-probability = "*"

[requires]
python_version = "3.8"
